#!/usr/bin/env bash

set -ECeuo pipefail

# git
export GIT_BRANCH=''
GIT_BRANCH="$(git branch --show-current || :)"

export GIT_COMMIT_HASH=''
GIT_COMMIT_HASH="$(git rev-parse HEAD || :)"

# date
export DATE=''
DATE="$(date '+%Y-%m-%d' || :)"

export DATETIME=''
DATETIME="$(date --iso-8601=seconds || :)"

export UTC_DATE=''
UTC_DATE="$(date --utc '+%Y-%m-%d' || :)"

export UTC_DATETIME=''
UTC_DATETIME="$(date --utc --iso-8601=seconds || :)"

# hostname
export HOSTNAME=''
HOSTNAME="$(uname -n || :)"

# monorepo
export MONOREPO_ROOT=''
MONOREPO_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" &>/dev/null && pwd -P)"

export MONOREPO=''
MONOREPO="$(basename "${MONOREPO_ROOT}" || :)"

# infisical
export INFISICAL_CACHE_JSON="${MONOREPO_ROOT}/.infisical-${INFISICAL_ENVIRONMENT:-dev}.json"
if [[ ! -f "${INFISICAL_CACHE_JSON}" ]]; then
  infisical export --format=json --env "${INFISICAL_ENVIRONMENT:-dev}" | jq . > "${INFISICAL_CACHE_JSON}"
fi
eval "$(jq -r '.[] | "export \(.key)=\(.value)"' "${INFISICAL_CACHE_JSON}")" || :
