#!/usr/bin/env bash

source_up

# project
export PROJECT_ROOT=''
PROJECT_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" &>/dev/null && pwd -P)"

export PROJECT=''
PROJECT="$(basename "${PROJECT_ROOT}" || :)"
