---
force: true
---

[mysql]
# pronpt setting
# root@localhost [mysql] >
prompt='\\U [\\d]\\T> '
# クライアントで使用する文字セット
default-character-set=utf8mb4

[mysqld]
server_id=1001
# サーバーで使用する文字セット
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci

# 開発環境向けに db.t2.small インスタンス相当で最大接続数を設定
# https://docs.aws.amazon.com/ja_jp/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Managing.Performance.html
max_connections=45
max_connect_errors=10

# #################
# slow query log
# #################

# スロークエリの出力設定
slow_query_log=ON

# スロークエリと判定する秒数
long_query_time=3

# スロークエリログの出力先
slow_query_log_file=/var/log/mysql/slow.log

# #################
# innodb
# #################

innodb_dedicated_server=ON
innodb_lock_wait_timeout=120
innodb_flush_log_at_trx_commit=1

# #################
# binlog
# #################

log_bin=/var/lib/mysql/hoge-bin
binlog_format=ROW
sync_binlog=1

# GTID を有効にする
gtid_mode=ON
enforce_gtid_consistency=ON
