#!/usr/bin/env bash

source_up

export TF_VAR_project="${PROJECT}"
export tF_VAR_owner="${USER}"
export TF_VAR_cloud_init_file="${PROJECT_ROOT}/${MONOREPO}.yml"
export TF_VAR_key_name="${MONOREPO}"
# export TF_VAR_public_key=''
# TF_VAR_public_key="$(yq '.users[0].ssh-authorized-keys[0]' < "${TF_VAR_cloud_init_file}" | cut -d ' ' -f 1,2)"
